DISCORD_BOT_TOKEN = xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxx
# JK SERVER - TEST
ENROLLMENTS_CHANNEL = xxxxxxxxxxxxxxxxxx  # channel ID for draft enrollements here
CHECKIN_CHANNEL_1 = xxxxxxxxxxxxxxxxxx # channel ID for pod 1 check-in here
CHECKIN_CHANNEL_2 = xxxxxxxxxxxxxxxxxx # channel ID for pod 2 check-in here
CHECKIN_ASYNC_CHANNEL = xxxxxxxxxxxxxxxxxx # channel ID for asynchron pod check-in here
TUTORIAL_CHANNEL = xxxxxxxxxxxxxxxxxx
GUILD_ID = xxxxxxxxxxxxxxxxxx # Discord server ID here
MONDAY_EMOJI = xxxxxxxxxxxxxxxxxx
TUESDAY_EMOJI = xxxxxxxxxxxxxxxxxx
WEDNESDAY_EMOJI = xxxxxxxxxxxxxxxxxx
THURSDAY_EMOJI = xxxxxxxxxxxxxxxxxx
FRIDAY_EMOJI = xxxxxxxxxxxxxxxxxx
SATURDAY_EMOJI = xxxxxxxxxxxxxxxxxx
SUNDAY_EMOJI = xxxxxxxxxxxxxxxxxx

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://xxxxxxxxxxx:xxxxxxxxxxxxxxxxxxx@localhost:5432/drafty?schema=public"